.logo{
    width: 60px;
    height: 60px;
}
.home__avatar{
    width: 150px;
    height: 150px;
} 
.fa-brands fa-html5 {
    width: 500px;
    height: 500px;
}
.job__logo{
    width: 100px;
    heigth: 100px;
}
.job__logo2{
    width: 100px;
    height: 100px;
}